<!doctype html>

<html lang="en">
<head>
	<title>MyCollegeBuddy:Login</title>	

	<!-- HELP BUTTON HEADER CODE BLOCK -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
	$(document).ready(function () {
        $('#dialog_link').click(function () {
          $('#dialog').dialog();
          return false;
        });
      });
    </script>
	<!-- END HELP BUTTON HEADER CODE BLOCK -->
</head>

<body class="bg">
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '759982734106669',
      xfbml      : true,
      version    : 'v2.1'
    });
  };
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=759982734106669";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));


</script>


		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>MyCollegeBuddy</h1>
			<p>Building Your College Plan One Step at a Time</p>
		</div>
		

<!-- Help button & menu stuff -->
    <div style="position: relative;">
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Menu</button>
        <div id="myDropdown" class="dropdown-content">
          {{#each data.buttons}}
            <a href="{{link}}" ><p>{{name}}</p></a>
          {{/each}}
        </div>
      </div>
    
      <div style=" float:right;">
        <div id="dialog" title="Login Help" style="display:none">
		<p> This page allows you to login to Facebook so that you can like and/or share MyCollegeBuddy!</p>
        </div>
        <!--<style> .button2 {background-color: #4CAF50; border: none; color: white; padding: 15px 15px; text-align: center; text-decoration: none; display: inline-block;
          font-size: 16px; margin: 4px 2px; cursor: pointer;}
        </style>-->
        <div class="help-btn">
          <button class="dropbtn" id="dialog_link">Help</button>
        </div>
      </div>
	</div>
	<!-- End help button & menu stuff -->	

<center>
<div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false" onlogin="window.location.replace('http://mycollegebuddy.herokuapp.com/');"></div>
</center>
		<style type ="text/css" >
   			.footer{ 
       		position: fixed;     
       		text-align: left;    
       		bottom: 0px; 
       		width: 100%;
   				}  
		</style>
	


<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
	 console.log("myfunction running");
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">	
	<script src="/js/bootstrap.min.js"></script>
	 <script src="js/bootstrap.js"></script>
</body>
</html>
