/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
    text-align: center;
}

.jumbotron:after {
     content:"";
     /*background: url("../images/city-1.jpg");*/
     opacity: 0.4;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}


.jumbotron p {
     color: #3034E8;
}

.bg {
    background-color: #A9BCF5;
}

.buttons a {
     position:relative;
     text-align: center;
}

.footer{ 
       	position: relative;     
       	text-align: left;    
       	bottom: 0px; 
       	width: 100%;
        padding-top: 20px;
}

.rightfoot{
	position: relative;     
       	text-align: left;    
       	bottom: 50px;
       	width: 100%;
}

.page-item {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
.dropdown {
    position:fixed;
    text-align:right;
    padding: 10px;
    width: 100px;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
</style>
</head>
<body>

.alert {}

















.hot-container p { margin-top: 10px; }
a { text-decoration: none; margin: 0 0px; }

.hot-container {
    min-height: 20px;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

a.btn {
    display: inline-block;
    color: #666;
    background-color: #eee;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    padding: 10px 30px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-bottom-width: 3px;
}

    a.btn:hover {
        background-color: #e3e3e3;
        border-color: rgba(0,0,0,0.5);
    }
    
    a.btn:active {
        background-color: #CCC;
        border-color: rgba(0,0,0,0.9);
    }

/* blue button */

a.btn.btn-blue {
    background-color: #699DB6;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

    a.btn.btn-blue:hover {
        background-color: #4F87A2;
        border-color: rgba(0,0,0,0.5);
    }
    
    a.btn.btn-blue:active {
        background-color: #3C677B;
        border-color: rgba(0,0,0,0.9);
    }

/* red button */

a.btn.btn-red {
    background-color: #E48681;
    border-color: rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    color: #FFF;
}

    a.btn.btn-red:hover {
        background-color: #DA4F49;
        border-color: rgba(0,0,0,0.5);
    }
    
    a.btn.btn-red:active {
        background-color: #B32C24;
        border-color: rgba(0,0,0,0.9);
    }


